<div class= "banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610890716171-6b1bb98ffd09?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9hcmQlMjBnYW1lfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60);" class: "banner">
  <div class="container">
    <h1>Don't know what to play? Perfect!</h1>
    <p>Find a great range of board games to borrow in your area</p>
    <div>
    <%= link_to "Browse Games", games_path, class:"btn btn-primary"%>
    </div>
  </div>
</div>
